*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
.main_container{
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 90vh;
    width: 80vw;
    /* border: 1px solid black; */

    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 5px gainsboro;
    
}
.sign_in_form{
    border: 1px solid black;
    justify-content: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.sign_in_form > h1{
    font-size: 50px;
}
.sign_in_form > .logo_container > span{
    border: 1px solid black;
    padding: 20px;
    border-radius: 50%;
}
.sign_in_form > p{
    color: #464346;
    font-weight: 600;
}
.sign_in_form > input{
    padding: 15px;
    border-radius: 30px;
    outline: none;
    box-shadow: 0 0 2px gray;
    background-color: white;
}



.sign_up_container {
    display: none;
    background-color: #882c88;
    color: white;
    border-radius: 0 10px 10px 0;
}
.sign_up_container>h1{
    text-align: center;
}
.sign_up_container>button{
    background-color: #095e64;
    color: white;
    border: 1px solid white;
    padding: 15px 40px ;
    border-radius: 20px;
    font-weight: 600;
}
@media(min-width:768px){
    .container{
        width: 50%;

    }
}
@media(min-width:1024px){
    .container{
        display: flex;
        width: 90%;
    }
    .sign_in_form{
        width: 50%;
    }
    .sign_up_container{
        display:flex;
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

    }
}